<div class="podcast-wrapper" fxFlex="100">
    <h2>Podcasts</h2>
    <p>You can always find the latest podcasts from the 15minuteFA here, or subscribe to the podcast on your favorite platforms!</p>
    <hr/>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <a class="platform" fxFlex="33" [fxFlex.lt-sm]="100" href="https://player.fm/series/fifteen-minute-financial-advisor">
            <img src="/assets/images/google.jpeg" />
        </a>
        <a class="platform" fxFlex="33" [fxFlex.lt-sm]="100" href="https://itunes.apple.com/us/podcast/fifteen-minute-financial-advisor/id1428236799">
            <img src="/assets/images/itunes.png" />
        </a>
        <a class="platform" fxFlex="33" [fxFlex.lt-sm]="100" href="https://www.stitcher.com/podcast/michael-policar/15-minute-financial-advisor">
            <img src="/assets/images/stitcher.png" />
        </a>
    </div>
    <hr/>
    <div class="frame-wrapper">
        <iframe style="border: none" src="//html5-player.libsyn.com/embed/destination/id/767408/height/360/theme/custom/autonext/no/autoplay/no/thumbnail/yes/preload/no/no_addthis/no/direction/backward/no-cache/true/render-playlist/yes/custom-color/87A93A/" height="360" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    </div>
</div>