  <div fxFlex="100">
    <div class="entry-content">
       <p><strong>The Fifteen Minute Financial Advisor is a podcast covering common topics that <i>real people</i> worry about every single day.</strong></p>
       <p style="text-align:left;"><span>Podcast Structure:</span></p>
       <p style="text-align:left;"><span>Define a Topic</span><br>
          <span> Illustrate the Issue</span><br>
          <span>Action Steps</span>
       </p>
       <p style="text-align:left;"><span>In 15 minutes, or less.</span></p>
       <p><span>The Fifteen Minute Financial Advisor aims to provide you with the same strategies and knowledge that financial advisors use to help high net worth clients. If you are a “do-it-yourselfer” who wants to manage your own financial life, c</span><span>onsider The Fifteen Minute Financial Advisor your own “on-demand financial advisor” when you need a quick refresher, or want to learn about new topics.</span></p>
       <p><span>If you’re too busy with family or your career or otherwise choose to delegate important tasks to professionals like CPA’s, Attorneys and Fiduciaries, then don’t hesitate to get in touch!</span></p>
       <p style="text-align:center;">
         <a mat-raised-button color="warn" class="button" href="https://calendly.com/15minutefa">
          <mat-icon>schedule</mat-icon> 
          Schedule a Virtual Meeting
        </a>
      </p>
      <hr/>
       <p><span>The most important thing is to let us know what topics are important to YOU! <br/><br/><a href="mailto:Advisor@15MinuteFA.com" target="_blank" rel="noopener">Send us an email,</a> or&nbsp;<a href="https://twitter.com/15MinuteFA" target="_blank" rel="noopener">Tweet us</a>&nbsp;and let us know! We’ll cover the topic as soon as we can, or point you in the direction of previous conversations that address your concerns!</span></p>
       <p><span>Want to get a sense of where you are on the path toward your “work optional” savings number (do people really “retire” anymore?) Click the button below:</span></p>
       <p style="text-align:center;">
         <a mat-raised-button color="warn" class="button" href="https://app.advizr.com/guest/expresswizard?ctaEmail=15minutefa@gmail.com" target="_blank">
          <mat-icon>check</mat-icon>
          Quick Retirement Progress Check
        </a>
      </p>
    </div>
  </div>