<div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="50" [fxFlex.lt-sm]="100">
        <img class="title-image" src="./assets/images/title.png" alt="logo">
        </div>
    </div>
    <div class="container" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="card-container" fxFlex="75" [fxFlex.lt-md]="100">
            <div fxLayout="row" fxLayoutAlign="center center">
               <h2 fxShow fxHide.md fxHide.lt-md class="sub-heading">What You Need to Know About Money, 15 Minutes at a Time</h2>
               <h3 fxHide fxShow.lt-lg class="sub-heading">What You Need to Know About Money, 15 Minutes at a Time</h3>
            </div>
            <div class="nav">
                <div fxShow fxHide.md fxHide.lt-md fxLayout="row">
                    <mat-card class="nav-item" routerLink="/home" routerLinkActive="active" fxFlex="33">HOME</mat-card>
                    <mat-card class="nav-item" routerLink="/contact" routerLinkActive="active" fxFlex="33">CONTACT</mat-card>
                    <mat-card class="nav-item" routerLink="/podcasts" routerLinkActive="active" fxFlex="34">PODCASTS</mat-card>
                </div>
                <div fxHide fxShow.lt-lg fxLayout="column" expanded="expanded">
                    <mat-accordion fxFlex>
                        <mat-expansion-panel class="subnav-item">
                            <mat-expansion-panel-header>
                            <mat-panel-title>
                                MENU
                            </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <mat-card class="subnav-list-item" routerLink="/home" routerLinkActive="hide" (click)="expanded = !expanded">HOME</mat-card>
                                <mat-card class="subnav-list-item" routerLink="/contact" routerLinkActive="hide" (click)="expanded = !expanded">CONTACT</mat-card>
                                <mat-card class="subnav-list-item" routerLink="/podcasts" routerLinkActive="hide" (click)="expanded = !expanded">PODCASTS</mat-card>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
            <mat-card class="content-card" #contentCard>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <router-outlet></router-outlet>
                </div>        
                    <hr>                
                    <mat-nav-list fxLayout="column" fxLayoutAlign="center start">                          
                        <div>
                            <div><span>Share:</span></div>
            
                            <div class="fb-share-button" data-href="http://15minutefa.com" data-layout="button" data-size="large"></div>
                            
                            <div>
                                <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="The Fifteen Minute Financial Advisor is a podcast covering common topics that real people worry about every single day." data-url="http://15minutefa.com" data-via="15minutefa" data-hashtags=" #personalfinance" data-show-count="false">Tweet</a>
                            </div>
                            <a href="https://twitter.com/15minutefa" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @15minutefa</a>
                        </div>
                    </mat-nav-list>
            </mat-card>
        </mat-card>
    </div>
</div>