<div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="50" [fxFlex.lt-sm]="100">
        <img class="title-image" src="./assets/images/title.png" alt="logo">
        </div>
    </div>
    <div class="content-container" fxLayout="row" fxLayoutAlign="center center">
        <mat-card fxFlex="75" [fxFlex.lt-md]="100">
            <div fxLayout="row" fxLayoutAlign="center center">
               <h2 fxShow fxHide.md fxHide.lt-md class="sub-heading">What You Need to Know About Money, 15 Minutes at a Time</h2>
               <h3 fxShow fxHide.gt-md class="sub-heading">What You Need to Know About Money, 15 Minutes at a Time</h3>
            </div>
            <div class="nav">
                <div fxLayout="column">
                    <mat-card class="nav-item" routerLink="/home" routerLinkActive="active" fxFlex="33">HOME</mat-card>
                    <mat-card class="nav-item" routerLink="/contact" routerLinkActive="active" fxFlex="33">CONTACT</mat-card>
                    <mat-card class="nav-item" routerLink="/podcasts" routerLinkActive="active" fxFlex="34">PODCASTS</mat-card>
                </div>
            </div>
                <mat-card class="content-card">
                    <div class="content-container" fxLayout="column" fxLayoutAlign="center center">
                                
                    <router-outlet></router-outlet>
                    <hr/>
                    <mat-nav-list fxLayout="row" fxLayoutAlign="space-between center">
                        <div>
                            <h3>Share:</h3>
                            <div class="fb-share-button" data-href="http://15minutefa.com" data-layout="button" data-size="large"></div>
                            <br/>
                            <br/>
                            <div>
                                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="The Fifteen Minute Financial Advisor is a podcast covering common topics that real people worry about every single day." data-url="http://15minutefa.com" data-via="15minutefa" data-hashtags=" #personalfinance" data-show-count="false">Tweet</a>
                            </div>
                        </div>
                        <a href="https://twitter.com/15minutefa?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @15minutefa</a>
                    </mat-nav-list>
                </div>        
            </mat-card>
        </mat-card>
    </div>
</div>